<article class="contentHolder">

	<h1 
		ng-show="taskList.todos && taskList.todos.length > 0" 
		class="ucase">
			Archives
			<small><span ng-show="taskList.todos.length === 0"><br>None</span></small>
			<small><span ng-show="!taskList.todos"><br>Loading... </span></small>
	</h1>

	<!-- <section ng-controller="archiveControls as todoList">
		<span><br>{{todoList.todos.length}} items</span>
		<ul class="unstyled">
			<li ng-repeat="todo in todoList.todos">
				<label class="checkbox">{{ todo.title }}</label>
				<p>{{ todo.description }}</p>
				<small><i>{{ todo.date }}</i></small>
				
			</li>
		</ul>
	</section> -->

	<section class="contentHolder__btn-holder" ng-show="taskList.todos && taskList.todos.length > 0">

		<span ng-show="taskList.todos.length > 5">
			Filter by : 
			<a 	ng-repeat="filter in taskList.filters"
				class="btn btn-sm btn-default {{ current.params.filter === filter ? 'active' : ''}}" 
				href="index.html#!/overview/{{ filter }}">
				{{ filter }}
			</a>
		
			<br><br>
		</span>

		<ul class="taskList">
			<li ng-repeat="todo in taskList.todos" class="taskList__holder" ng-click="goTo('todo/' + todo.id)">
			
				<a class="taskList__holder--title status__{{ todo.status}} urgency__{{ todo.urgency }}">
					{{ todo.title }}
				</a><br>

				<div ng-show="user.admin" class="taskList__holder--user status__{{ todo.status }} urgency__{{ todo.urgency }}">
					{{ todo.username }} 
					(<i>{{ todo.status }}</i>) </div>
			</li>
		</ul>
	</section>

</article>