<article class="contentHolder">

	<!-- <h1 ng-show="user.name">
		<small>Welcome</small>
		<span>{{ user.name }}</span>
		<small ng-show="user.admin"><i>(admin)</i></small><br> 
		<small>{{ user.email }}</small><br>
		<small>org: {{ user.organisation }}</small>
	</h1> -->

	<h1 ng-show="allTasks && allTasks.length > 0"
		class="ucase">
			Task List
			<a ng-show="user.admin && allTasks" href="index.html#!/create" class="btn btn-primary">
				create task</a></h1>

	<section class="contentHolder__btn-holder" ng-show="allTasks && allTasks.length > 0">
	
		<span ng-show="allTasks.length > 6">
			Filter 
			<a ng-repeat="filter in allFilters"
				class="btn btn-sm btn-default {{ current.params.filter === filter ? 'active' : ''}}" 
				href="index.html#!/dashboard/{{ filter }}">
				{{ filter }}
			</a>
		
			<br><br>
		</span>
	
		<ul class="taskList">
			<li ng-repeat="task in allTasks" class="taskList__holder" ng-click="view(task.id)">
				
				<a 	class="taskList__holder--title status__{{ task.status}} urgency__{{ task.urgency }}">
					{{ task.title }}
				</a><br>
	
				<div ng-show="user.admin" class="taskList__holder--user status__{{ task.status }} urgency__{{ task.urgency }}">
					{{ task.username }}
					(<i>{{ task.status }}</i>) </div>
			</li>
		</ul>
	</section>

	<h3 ng-show="allTasks.length === 0"><br>No Todos</h3>
	<h3 ng-show="!allTasks"><br>Loading</h3>

	<!-- Create -->
	<todo model="currentTask" filters="taskFilters" member="user"></todo>
	<!--<create model="newTask"></create>-->

</article>