<article class="contentHolder" ng-if="userIsSignedIn" ng-show="user.name">

    <user model="user"></user>

    <!-- Users -->
    <section ng-show="user.members.active || user.members.requests">
        <h4>Members</h4>
        <ul>
            <li ng-repeat="member in user.members.active">
                {{ member.name }} (<i>{{ member.email }}</i>)
                <a ng-click="memberRequest('remove', member)">remove</a></li>
        </ul>

        <div ng-show="user.members.requests">
            <h5>New Recruits</h5>
            <ul>
                <li ng-repeat="member in user.members.requests">
                    {{ member.name }} (<i>{{ member.email }}</i>)
                    <a ng-click="memberRequest('accept', member)">accept</a> |
                    <a ng-click="memberRequest('decline', member)">decline</a></li>
            </ul>
        </div>
    </section>

    <!-- Tasks -->
    <grouptasks tasks="allTasks" member="user"></grouptasks>

    <!-- Group Chat -->


</article>

<article ng-if="!userIsSignedIn">
    <h1>Goodbye, <br>see you soon :)</h1>
</article>