<article class="contentHolder" ng-if="userIsSignedIn">

    <section>
        <h1>{{ user.name }}</h1>
        <p class="edit"
           ng-model="user.description"
           contenteditable="true">{{ user.description }}</p>
        <p>{{ user.email }}</p>
    </section>

    <!-- Users -->
    <section>
        <h4>Members</h4>
        <ul>
            <li ng-repeat="member in user.members.active">
                {{ member.name }} (<i>{{ member.email }}</i>)
                <a ng-click="memberRequest('remove', member)">remove</a></li>
        </ul>

        <div ng-show="user.members.requests">
            <h5>New Recruits</h5>
            <ul>
                <li ng-repeat="member in user.members.requests">
                    {{ member.name }} (<i>{{ member.email }}</i>)
                    <a ng-click="memberRequest('accept', member)">accept</a> |
                    <a ng-click="memberRequest('decline', member)">decline</a></li>
            </ul>
        </div>
    </section>

    <!-- Tasks -->
    <section>
        <h4>Current Events</h4>
        <div ng-repeat="taskState in tasks">
            <h6>{{ taskState.name }}</h6>
            <ul>
                <li ng-repeat="task in taskState.tasks"
                    ng-click="view('active', thisTask.id)">

                    <a>{{ task.title }}</a>
                    <a ng-if="task.username">{{ task.username }}</a>
                    <i>({{ task.status }})</i>
                </li>
            </ul>
        </div>
    </section>

    <!-- Group Chat -->


</article>

<article ng-if="!userIsSignedIn">
    <h1>Goodbye, <br>see you soon :)</h1>
</article>