<article class="contentHolder">

	<h1 style="padding-bottom: 0px">TOODU</h1>

	<section ng-show="!isSignedIn">

		<ul class="pagination">
          	<li class="{{ hasAccount === true ? 'active' : '' }}">
            	<a class="{{  hasAccount === true ? 'active' : '' }}" ng-click="hasAccount = true">
					Login
             		</a></li>

           	<li class="{{ hasAccount === false ? 'active' : '' }}">
            	<a class="{{  hasAccount === false ? 'active' : '' }}" ng-click="hasAccount = false">
					Create an Account
             		</a></li>

			<li class="{{ hasAccount === 'createGroup' ? 'active' : '' }}">
				<a class="{{  hasAccount === 'createGroup' ? 'active' : '' }}" ng-click="hasAccount = 'createGroup'">
					Create a Group
				</a></li>
        </ul>

		<form>
			<div class="input-group" ng-show="hasAccount === false">
				<input type="text" class="form-control" ng-model="user.name" placeholder="Name">
				<span class="input-group-addon">Name</span>
			</div>

			<div class="input-group" ng-show="hasAccount === 'createGroup'">
				<input type="text" class="form-control" ng-model="user.name" placeholder="Group Name">
				<span class="input-group-addon">Group Name</span>
			</div>

			<div class="input-group">
				<input type="email" class="form-control" ng-model="user.email" placeholder="Email">
				<span class="input-group-addon">Email address</span>
			</div>

			<div class="input-group">
				<input type="password" class="form-control" ng-model="user.password" placeholder="Password">
				<span class="input-group-addon">Password</span>
			</div>

			<small ng-bind="error" ng-show="error" class="error"></small>

			<button type="submit" class="btn btn-primary" ng-click="login(hasAccount)"><span ng-bind="action"></span></button>
		  
		</form>
	</section>

</article>