
<article>

    <div ng-show="task.status === 'notFound'">
        <h3>Task not Found</h3>
    </div>

    <div ng-show="task.status != 'notFound'">

        <!-- Task State : Hold | Complete | Delete -->
        <article ng-show="!task.editable">
          <ul class="pagination" ng-if="task.createdby.id === user.id">
            <li><a  ng-show="task.status != 'Done'" ng-click="moveTodo('hold')">
              {{ (task.isActive === true) ? 'Task On Hold' : 'Activate Task' }}</a></li>

            <li><a  ng-show="task.status === 'Done'" ng-click="moveTodo('complete')">
                      {{ (task.isActive === true) ? 'Completed' : 'Reactivate' }}</a></li>

            <li><a  ng-click="deleteTodo()">
                      Delete</a></li>
          </ul>

          <!-- Task Info -->
          <section>
              <button class="btn btn-primary" ng-show="task.createdby.id === user.id" ng-click="task.editable = true">Edit your task</button>
              <h1>{{ task.title }}</h1>
              <h4>
                  task owners: {{ task.createdby.name }}
                      <span ng-if="task.assignee.name != 'available'"> and {{ task.assignee.name }}
                          <span ng-if="task.assignee.id === user.id"
                                ng-click="accept(false)"
                                class="btn btn-small btn-primary" >Decline Task</span>
                      </span>
                      <span ng-show="task.assignee.name === 'available'"
                              class="btn btn-xs btn-primary"
                              ng-click="accept(true)">fist bump</span>
                      <br>

                  time left: {{ task.dateEnd | fromNow }}<br>
                  urgency: {{ task.urgency }}<br>

                  <span ng-if="task.assignee.id === user.id">
                      status: <dropdown options="filter.status" selected="task.status"></dropdown>
                  </span>
                  <span ng-if="task.assignee.id != user.id">
                      status: {{ task.status }}
                  </span>
              </h4>
          </section>

          <!-- Description -->
          <section>
              <p>{{ task.description }}</p>
          </section>

          <!-- Comments section -->
          <section>
              <div ng-show="task.comments.length != 1">
                  <h3>{{ task.comments.length }} comments</h3>

                  <ul>
                      <li ng-repeat="comment in task.comments" id="{{ comment.id }}">
                          <h6>{{ comment.name }} said</h6>
                          <p>{{ comment.message }}</p>

                          <!-- Reply to response -->
                          <ul ng-if="comment.reply">
                              <li ng-repeat="reply in comment.reply" id="{{ reply.id }}">
                                  <h6>{{ reply.name }} said</h6>
                                  <p>{{ reply.message }}</p>
                              </li>
                              <button ng-if="task.isActive === true"
                                      ng-click="showReply(comment)"
                                    class="btn btn-xs btn-default">Reply to thread</button>
                          </ul>

                          <button ng-if="task.isActive === true && !comment.reply"
                                  ng-click="showReply(comment)"
                                class="btn btn-xs btn-default">Reply</button>

                          <!-- Respond to Thread -->
                          <article ng-show="task.isActive === true && comment.visible">
                              <h6>reply</h6>
                              <textarea ng-model="reply.message" class="form-control"></textarea>
                              <button ng-click="replyToComment(reply, comment)" class="btn btn-sm btn-default">Reply</button>
                          </article>
                      </li>
                  </ul>
              </div>

              <!-- Add Comment -->
              <section ng-show="task.isActive === true">
                  <h6>Your Comment</h6>
                  <textarea ng-model="comment.message" class="form-control"></textarea>
                  <button ng-click="addComment(comment)" class="btn btn-sm btn-default">Comment</button>
              </section>
          </section>
        </article>


        <!-- only visible in edit state -->
        <section ng-show="task.editable">
            <button class="btn btn-primary" ng-click="cancel()">{{ task.id === 0 ? 'Clear' : 'Cancel' }}</button>

            <div class="editTodo">

                <h1 class="editTodo__title" ng-model="task.title" contenteditable="true"></h1>
                <section class="container editTodo__dropdowns">
                  <div class="row">
                    <div> Urgency </div>
                    <dropdown options="filter.urgency" selected="task.urgency"></dropdown>
                  </div>
                </section>

                <section class="editTodo__duration">
                  <datepicker info="task.dateStart"></datepicker>
                  &nbsp;&nbsp; To &nbsp;&nbsp; <datepicker info="task.dateEnd"></datepicker>
                </section>

                <p ng-model="task.description" contenteditable="true"></p>
            </div>

            <br><br>
            <button class="btn btn-primary" ng-click="submit()">{{ task.id === 0 ? 'Save Task' : 'Update' }}</button>
            <button class="btn btn-primary" ng-click="cancel()">{{ task.id === 0 ? 'Clear' : 'Cancel' }}</button>
        </section>
    </div>
</article>