<article class="contentHolder">

	<button class="btn btn-primary" onclick="history.back()">Back</button>

	<h2>Create Todo</h2>

	<form>

		<div class="form-group">
			<label for="Title">Title</label>
			<input class="form-control" id="Title" 
				placeholder="Title goes here..." 
				ng-model="todo.title">
		</div>

		<div class="form-group">
			<label for="Description">Description</label>
			<textarea class="form-control" id="Description" 
				placeholder="Description for task goes here..." 
				ng-model="todo.description"></textarea>
		</div>

		<div class="form-group">
			<label for="Description">Start Date</label>
			<datepicker info="todo.dateStart"></datepicker>
		</div>

		<div class="form-group">
			<label for="Description">End Date</label>
			<datepicker info="todo.dateEnd"></datepicker>
		</div>

		<div class="contentHolder__form__radioHolder">
			<div class="form-group col">
				<label for="Status">Status</label><br>
			  	<span ng-repeat="status in todoStates.status">
					<input type="radio" name="Status" value="{{ status }}" 
						ng-model="todo.status"> {{ status }}<br>
				</span>
		  	</div>

		  	<div class="form-group col">
				<label for="Urgency">Urgency</label><br>
			  	<span ng-repeat="urgency in todoStates.urgency">
					<input type="radio" name="Urgency" value="{{ urgency }}" 
						ng-model="todo.urgency"> {{ urgency }}<br>
				</span>
		  	</div>

		  	<div class="form-group col" ng-show="allUsers.length > 0">
				<label for="User">User</label><br>
				<span ng-repeat="user in allUsers">
					<input type="radio" name="User" value="{{ user }}" 
						ng-model="todo.user"> {{ user.name }}<br>
				</span>
		  	</div>
	  	</div>

		<button type="submit" class="btn btn-primary" ng-click="submit();">Submit</button>
	  
	</form>

</article>