<article class="contentHolder">

	<div class="editTodo">

		<section class="editTodo__duration">
			<datepicker info="newObject.dateStart"></datepicker>
			&nbsp;&nbsp; To &nbsp;&nbsp; <datepicker info="newObject.dateEnd"></datepicker>
		</section>

		<h1 class="editTodo__title">
			<p ng-model="newObject.title" contenteditable="true"> {{ newObject.title }}</p>
		</h1>

		<section class="container editTodo__dropdowns">
          <div class="row" ng-show="task">
            <div> Status </div>
            <dropdown options="task.status" selected="newObject.status"></dropdown>
          </div>

          <div class="row" ng-show="task">
            <div> Urgency </div>
            <dropdown options="task.urgency" selected="newObject.urgency"></dropdown>
          </div>

		  <div class="row" ng-show="task">
            <div> User </div>
            <dropdown options="task.users" selected="newObject.user"></dropdown>
          </div>
        </section>

		<p ng-model="newObject.description" contenteditable="true"> {{ newObject.description }}</p>
	</div>

	<br><br>
	<button class="btn btn-primary" ng-click="submit()" ng-show="newObject.id != 0">Update Task</button>
	<button class="btn btn-primary" ng-click="submit('newTask')">Save New Task</button>

</article>