<article class="contentHolder">

	<div class="editTodo">

		<section class="editTodo__duration">
			<datepicker info="todo.dateStart"></datepicker>
			&nbsp;&nbsp; To &nbsp;&nbsp; <datepicker info="todo.dateEnd"></datepicker>
		</section>

		<h1 class="editTodo__title">
			<p ng-model="todo.title" contenteditable="true"> {{ todo.title }}</p>
		</h1>

		<section class="container editTodo__dropdowns">
          <div class="row">
            <div> Status </div>
            <dropdown options="todoStates.status" selected="todo.status"></dropdown>
          </div>

          <div class="row">
            <div> Urgency </div>
            <dropdown options="todoStates.urgency" selected="todo.urgency"></dropdown>
          </div>

          <div class="row" ng-show="allUsers">
            <div> User </div>
            <dropdown options="allUsers" selected="todo.user"></dropdown>
          </div>
        </section>

		<p ng-model="todo.description" contenteditable="true"> {{ todo.description }}</p>
	</div>

	<br><br>
	<button class="btn btn-primary" ng-click="submit()">Save</button>

</article>