<article class="contentHolder">

  <ul class="pagination">
    <li><a onclick="history.back()">Back</a></li>
    <li><a  ng-if="view.user.admin"
            ng-show="!view.editable && view.todo.status === 'Done'"
            ng-click="moveTodo()">
              {{ view.todo.isActive === true ? 'Archive' : 'Activate' }}</a></li>

    <li><a  ng-if="view.user.admin"
            ng-show="!view.editable"
            ng-click="deleteTodo()">
              Delete</a></li>
  </ul>


  <!-- Visible on page when not in edit state -->
  <h1 ng-show="!view.editable && view.user.admin">
    <em>
      {{ view.todo.title }}
      <small>({{ view.todo.urgency }})</small>
    </em>

    <small><br>
      {{ taskDates.total }}
      <small><br>Assigned to : {{ view.todo.username }} ({{ view.todo.status }})</small>
    </small>
  </h1>
  <p ng-show="!view.editable && view.user.admin || !view.user.admin">{{ view.todo.description }}</p>


  <!-- only visible in edit state -->
  <div ng-if="view.user.admin" ng-show="view.editable" class="editTodo">

    <section class="editTodo__duration">
      <datepicker info="view.todo.dateStart"></datepicker>
      &nbsp;&nbsp; To &nbsp;&nbsp; <datepicker info="view.todo.dateEnd"></datepicker>
    </section>

    <h1 class="editTodo__title">
      <p ng-model="view.todo.title" contenteditable="true"> {{ view.todo.title }}</p>
    </h1>

    <section class="container editTodo__dropdowns">
      <div class="row">
        <div> Status </div>
        <dropdown options="view.todoStates.status" selected="view.todo.status"></dropdown>
      </div>
    
      <div class="row">
        <div> Urgency </div>
        <dropdown options="view.todoStates.urgency" selected="view.todo.urgency"></dropdown>
      </div>
      
      <div class="row">
        <div> User </div>
        <dropdown options="allUsers" selected="view.todo.user"></dropdown>
      </div>
    </section>

    <p ng-model="view.todo.description" contenteditable="true"> {{ view.todo.description }}</p>
  </div>

  
  <!-- Comments section -->
  <section class="contentHolder__comments" ng-show="view.user.admin && view.todo.comments || !view.user.admin">
    <span>{{view.todoList.comments.length}} comments</span>
    <ul 
      ng-show="view.todo.comments"
      class="unstyled">
      <li ng-repeat="comment in view.todo.comments">
        <h5>{{ comment.name }} said</h5>
        <p>{{ comment.message }}</p>

         <!-- Reply to response -->
        <ul class="unstyled">
          <li ng-repeat="reply in comment.reply">
            <h5>{{ reply.name }} said</h5>
            <p>{{ reply.message }}</p>
          </li>
        </ul>

        <article>
          <h5>reply</h5>
          <textarea ng-model="reply[comment.id].message" class="form-control"></textarea>
          <button ng-click="replyToComment(comment.id)" class="btn btn-sm btn-default">Reply</button>
        </article>
      </li>
    </ul>

    <article>
      <br><br>
      <h5>Comment from : {{ comment.name }}</h5>
      <textarea ng-model="comment.message" class="form-control"></textarea>
      <button ng-click="addComment()" class="btn btn-sm btn-default">Comment</button>
    </article>
  </section>
  <!-- /comments section -->

  <br><br>
  <button class="btn btn-primary" ng-click="update()">{{ view.editable ? 'Save' : 'Edit' }}</button>
  <button ng-show="view.editable" class="btn btn-primary" ng-click="cancel()">cancel</button>

</article>