<section>
    <header>
        <menu class="btn-group" role="group" aria-label="...">
            <menuitem class="btn btn-default" ng-click="tasksVisible = !tasksVisible">
                My Tasks
                <ul class="taskList" ng-show="tasksVisible">
                    <li ng-repeat="thisTask in user.tasks"
                        ng-click="view(thisTask.task.location, thisTask.id)"
                        class="taskList__holder" >
                        <div >{{ thisTask.task.title }} (started {{ thisTask.started | fromNow }})</div>
                    </li>
                </ul>
            </menuitem>
            <menuitem class="btn btn-default" ng-click="messagesVisible = !messagesVisible">
                Messages
                <ul class="taskList" ng-show="messagesVisible">
                    <li ng-repeat="task in user.notify"
                        class="taskList__holder">
                        <div ng-repeat="note in task">
                            <h5 ng-if="$index === 0"
                                ng-click="view(note.task.location, note.task.id)">
                                {{ note.task.title}}</h5>
                            <note>
                                <p ng-click="view(note.task.location, note.task.id)">{{ note.message }}</p>
                                <span>{{ note.date | fromNow }}</span>
                                <span class="btn btn-xs btn-default"
                                      ng-click="removeNote(note)">remove note</span>
                            </note>
                        </div>
                    </li>
                </ul>
            </menuitem>

            <menuitem class="btn btn-default" ng-click="logout()">Logout</menuitem>
        </menu>
    </header>


    <div ng-show="!userEdit">
        <h1>{{ user.name }}
            <a ng-click="userEdit = true" class="btn btn-xs btn-default">Edit</a></h1>
        <h3>{{ user.email }}</h3>
        <p>{{ user.description }}</p>
    </div>

    <div ng-show="userEdit">
        <h1 ng-model="user.update.name" contenteditable="true" class="edit"></h1>
        <p ng-model="user.update.description" contenteditable="true" class="edit"></p>
        <a ng-click="updateUserDetails(user); userEdit = false" class="btn btn-xs btn-default">Update</a>
        <a ng-click="userEdit = false" class="btn btn-xs btn-default">Cancel</a>
    </div>
</section>